<h1>Welcome to the Movie Library!!</h1>

<table>
<thead>
    <tr>
        <h3>Title</h3>
    </tr>
    <br />
</thead>
<tbody>
    <% @movies.each do |movie| %>
        <ul>
            <li> <%= @movie.title %> </li>
            <%= button_to 'Movie Details', movie_path(movie_params) %>
            <%= button_to 'Delete Movie', movie_path, method: :destroy %>
        </ul>
    <% end %>
</tbody>
</table>