@import "bootstrap";
@import "bootstrap-sprockets";


.center-movie {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
}